extends layout

block content
  h1= title
  p Welcome to #{title} app. Here you can keep track of your contacts and record information about them.
  a(href=`/contacts`) View All Contacts
  br
  br
  p My name is Angela Petrone, I am a current ITMD442: Full Stack Web Development student. 
  p This is my lab 2, a project to practice CRUD operations in the form of a Node JS Express application. 
  p 
    | You can reach out to me via  
    a(href="mailto:apetrone@hawk.iit.edu") email
    | .

